body {
    padding: 0;
    margin: 0;
    font-family: "Questrial";
    background-color: white;
}


.text {
    font-size: 30px;
    float: left;
    text-transform: bold;
    height: 70px;
    margin-top: 20px;
    margin-left: -40px;

}

.text b {
    color: red;
    margin-left: 50px;
    margin-top: 10px;

}


.indice {
    width: 100px;
    float: right;
    margin-right: 80px;
    margin-top: 20px;
    width: 04vh;
    margin-top: 20px;
    padding: -15px;

}


.name a {
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 25px;
    float: right;
    height: 70px;
    margin-top: 20px;
    margin-right: 40px;
}

 
.name li{
    list-style: none;  

}
.cabecalho {
    text-align: center;
    border-bottom: 2px solid #DC143C;
    height: 60px;


}

.cabecalho img {
    width: 82px;
    margin-left: -10%;
    

}

.imagens {
    height: 70px;
    margin-top: 50px;
    margin-left: 02vh;
    padding: 50px;
    


}

#nav {
    float: right;
    margin-right: -28px;
    margin-top: -02px;

}

#nav li {
    list-style: none;
    background-color:red;
    width: 170px;
    border-bottom: 1px solid #fff;
    line-height: 0.2;
    text-align: center;
    padding: 30%;

}

#nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;

}


.paragrafos h2 {
    color: red;
    width: 600px;
    margin-left: 350px;
    margin-top: -220px;
    text-align: center;
    font-weight: bold;

}


.paragrafos p {
    width: 500px;
    margin-left: 400px;
    margin-top: 60px;
    text-align: center;
    color:black;
    font-size:17px;
    line-height: 1.5;
    

}

.imagemcentral {
    height: 70px;
    margin-top: 70px;
    margin-left: 65vh;
    margin: center;
    


}


.final {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-evenly;
    

}

.final>a {
    text-decoration: none;
    color: white;
}